{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arslan Maksadow">
    <title>Akylly gozegchi-girizmek</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-fileupload/bootstrap-fileupload.css' %}">
</head>

<body>
<section id="container">
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a href="{% url 'home_page' %}" class="logo"><b>Akylly<span>Gözegçi</span></b></a>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{% url 'logout' %}">Çykmak</a></li>
            </ul>
        </div>
    </header>

    <aside>
        <div id="sidebar" class="nav-collapse ">

            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><a href="{% url 'home_page' %}"><img src="{% static 'img/logo.png'%}" class="img-circle" width="80"></a></p>
                <h5 class="centered">TDEI</h5>
                <li class="mt">
                    <a href="{% url 'register' %}">
                        <i class="fa fa-dashboard"></i>
                        <span>Girizmek</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</section>

<section id="container">
    <section id="main-content">
        <section class="wrapper">
            <h3>Doldurmaly</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <form method="post" class="form-horizontal style-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3">Ady</label>
                                <div class="col-md-3 col-xs-11">
                                    <input type="text" name="name" size="50" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Familiyasy</label>
                                <div class="col-md-3 col-xs-11">
                                    <input type="text" name="surname"  size="50" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Wezipesi</label>
                                <div class="col-md-3 col-xs-11">
                                    <input type="text" name="profession" size="50" value="">
                                </div>
                            </div>
{#                            <div class="form-group last">#}
{#                                <label class="control-label col-md-3">Suraty ýükläň</label>#}
{#                                <div class="col-md-9">#}
{#                                    <div class="fileupload fileupload-new" data-provides="fileupload">#}
{#                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">#}
{#                                            <img src="{% static 'image/logo.png' %}" alt="" />#}
{#                                        </div>#}
{#                                        <div>#}
{#                            <span class="btn btn-theme02 btn-file">#}
{#                              <span class="fileupload-new"> Ýüklemek</span>#}
{#                            <span class="fileupload-exists"> Täzele</span>#}
{#                            <input type="file" name="image_upload" class="default" />#}
{##}
{#                            </span>#}
{#                                            <button class="default" onclick="location.href={% url 'get_picture' %}">Surata almak {{ data }}</button>#}
                                            {#                                                <a href="" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i>Ugratmak</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <span class="label label-info">Bellik</span>#}
{#                                    <span>#}
{#                          3*4 lik ýokary hilli bolmaly!#}
{#                          </span>#}
{#                                </div>#}
{#                            </div>#}
                            <div><button type="submit">Tassyklamak</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/common-scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-fileupload/jquery.dcjqaccordion.2.7.js' %}"></script>
</body>
</html>
