{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Akylly giris</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="demo-headline">
        <div class="login">
            <div class="login-screen">
                <div class="login-icon">
                    <a href="{% url 'logout' %}"><img src="{% static 'img/camera.png'%}"
                                                      alt="Arslan M"></a>
                    <h4>Akylly Gözegçi</h4>
                </div>
                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
                </div>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="login-form">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control login-field" value="" placeholder="Admin adynyzy giriziň" id="login-name" />
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control login-field" value="" placeholder="Gizlin kodyz" id="login-pass" />
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Ulgama gir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
